<div id="raidKalender">
	<table border="0" cellspacing="1" cellpadding="3" class="kalender border" align="center">
		<tr>
			<th class="Cmite" align="center">{prev}</th>
			<th class="kalenderHead Chead" colspan="5" align="center">{monat}.{jahr}</th>
			<th class="Cmite" align="center">{next}</th>
		</tr>
		<tr class="Cdark wochentage">
			<th width="14%">Mo</th>
			<th width="14%">Di</th>
			<th width="14%">Mi</th>
			<th width="14%">Do</th>
			<th width="14%">Fr</th>
			<th width="14%">Sa</th>
			<th width="14%">So</th>
		</tr>
		<!--REM1-->
		<tr>
			<td class="Cnorm" colspan="6"></td>
			<td class="Cnorm" height="{size}" width="{size}" valign="top">{0:0}</td>
		</tr>
		<!--REM1-->
		<tr>
			<td class="Cnorm" height="{size}" width="{size}" valign="top">{0:1}</td>
			<td class="Cnorm" height="{size}" width="{size}" valign="top">{0:2}</td>
			<td class="Cnorm" height="{size}" width="{size}" valign="top">{0:3}</td>
			<td class="Cnorm" height="{size}" width="{size}" valign="top">{0:4}</td>
			<td class="Cnorm" height="{size}" width="{size}" valign="top">{0:5}</td>
			<td class="Cnorm" height="{size}" width="{size}" valign="top">{0:6}</td>
			<td class="Cnorm" height="{size}" width="{size}" valign="top">{1:0}</td>
		</tr>
		<tr>
			<td class="Cnorm" height="{size}" width="{size}" valign="top">{1:1}</td>
			<td class="Cnorm" height="{size}" width="{size}" valign="top">{1:2}</td>
			<td class="Cnorm" height="{size}" width="{size}" valign="top">{1:3}</td>
			<td class="Cnorm" height="{size}" width="{size}" valign="top">{1:4}</td>
			<td class="Cnorm" height="{size}" width="{size}" valign="top">{1:5}</td>
			<td class="Cnorm" height="{size}" width="{size}" valign="top">{1:6}</td>
			<td class="Cnorm" height="{size}" width="{size}" valign="top">{2:0}</td>
		</tr>
		<tr>
			<td class="Cnorm" height="{size}" width="{size}" valign="top">{2:1}</td>
			<td class="Cnorm" height="{size}" width="{size}" valign="top">{2:2}</td>
			<td class="Cnorm" height="{size}" width="{size}" valign="top">{2:3}</td>
			<td class="Cnorm" height="{size}" width="{size}" valign="top">{2:4}</td>
			<td class="Cnorm" height="{size}" width="{size}" valign="top">{2:5}</td>
			<td class="Cnorm" height="{size}" width="{size}" valign="top">{2:6}</td>
			<td class="Cnorm" height="{size}" width="{size}" valign="top">{3:0}</td>
		</tr>
		<tr>
			<td class="Cnorm" height="{size}" width="{size}" valign="top">{3:1}</td>
			<td class="Cnorm" height="{size}" width="{size}" valign="top">{3:2}</td>
			<td class="Cnorm" height="{size}" width="{size}" valign="top">{3:3}</td>
			<td class="Cnorm" height="{size}" width="{size}" valign="top">{3:4}</td>
			<td class="Cnorm" height="{size}" width="{size}" valign="top">{3:5}</td>
			<td class="Cnorm" height="{size}" width="{size}" valign="top">{3:6}</td>
			<td class="Cnorm" height="{size}" width="{size}" valign="top">{4:0}</td>
		</tr>
		<tr>
			<td class="Cnorm" height="{size}" width="{size}" valign="top">{4:1}</td>
			<td class="Cnorm" height="{size}" width="{size}" valign="top">{4:2}</td>
			<td class="Cnorm" height="{size}" width="{size}" valign="top">{4:3}</td>
			<td class="Cnorm" height="{size}" width="{size}" valign="top">{4:4}</td>
			<td class="Cnorm" height="{size}" width="{size}" valign="top">{4:5}</td>
			<td class="Cnorm" height="{size}" width="{size}" valign="top">{4:6}</td>
			<td class="Cnorm" height="{size}" width="{size}" valign="top">{5:0}</td>
		</tr>
		<!--REM2-->
		<tr>
			<td class="Cnorm" height="{size}" width="{size}" valign="top">{5:1}</td>
			<td class="Cnorm" height="{size}" width="{size}" valign="top">{5:2}</td>
			<td class="Cnorm" height="{size}" width="{size}" valign="top">{5:3}</td>
			<td class="Cnorm" height="{size}" width="{size}" valign="top">{5:4}</td>
			<td class="Cnorm" height="{size}" width="{size}" valign="top">{5:5}</td>
			<td class="Cnorm" height="{size}" width="{size}" valign="top">{5:6}</td>
			<td class="Cnorm" height="{size}" width="{size}" valign="top">{6:0}</td>
		</tr>
		<!--REM2-->
	</table>
</div>